*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/**boot css**/
.center{
    max-width: 100%;
    padding: 0 4%;
    margin: 0 auto;
}
.w50{
    width: 50%;
    padding: 0 2%;
}
.w66{
    width: 66.6%;
    padding: 0 12px;
}
.left{
    float: left;
}
.right{
    float: right;
}
.clear{
    clear: both;
}

/**estilização da página**/
body{
    background: #e2e2e2;
}
img[src="images/Kalmte.png"]{
    height: 100px;
    width: 250px;
    margin-left: 20px;
}header{
    background-color: #875858;
}
nav.desktop li{
    font-size: 20px;
    padding:40px 10px;
    display: inline-block;
    
}
nav.desktop a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
nav.desktop a:hover{
    text-decoration: underline;
    opacity: 0.6;
    transition: 0.6s;
}
#post{
    background: #fff;
	padding: 10px;
    margin-bottom: 20px;
    width: 90%;
}
section.social{
    /* width: 300px; */
    background: #fff;
}
img.redes{
    height: 60px;
    width: 60px;
}
section.news h2{
    font-weight: 400;
    color: #535353;
    font-size: 30px;
    text-transform: uppercase;
    padding: 2% 0;
}
section.news h3{
    font-weight: 400;
    color: #875353;
    font-size: 22px;
}
section.news h4{
    font-weight: 400;
}
section.news p{
    color: rgb(94, 89, 89);
    font-weight: 400;
    padding: 20px 0;
    font-size: 16px;
    text-align: justify;
}
img.postagem{
    margin: 1%;
    height: 200px;
    width: 350px;
    border-radius: 5px;
}
.zoom {
    transition: transform .2s;
}
.zoom:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.05); 
}
footer{
    background: #875858;
    padding: 0.8% 0;
}
footer p{
    text-align: center;
    font-weight: 400;
    color: white;
}